name: CI Pipeline

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main

jobs:
  setup-and-build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6 
      
      - name: Setup Go
        uses: actions/setup-go@v6  
        with:
          go-version: '1.22'
          cache: true  
      
      - name: Check Go version
        run: go version
      
      - name: Run linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.3
      
      - name: Build
        run: go build -v .